<a routerLink="/admin">go to admin</a>

<div>
  <h1>Categories</h1>
  <button (click)="selectedCategoryUuid.set(null)">reset categorie</button>
  <ul>
    @for (category of categories();let i = $index; track i) {
      <li (click)="selectedCategoryUuid.set(category.uuid)">{{ category.title }}</li>
    }
  </ul>
</div>

<div>
  <h1>Recipes</h1>
  @for (category of categorieDisplayed(); track category.uuid) {
    <ul>
      @for (recipe of category.recipes; track recipe.uuid) {
        <li class="recipe" (click)="addRecipe(recipe.uuid)">
          {{ recipe.title }} - {{ recipe.price }} - Quantity: {{ recipe | totalItem: orderForm.value }}
        </li>
      }
    </ul>
  }
</div>

<div>
  <button [disabled]="!orderForm.valid" routerLink="/checkout">
    Continue  
  </button>
</div>